/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

@font-face {
    font-family: Collegia;
    src: url(assets/fonts/Collegia.ttf);
}

@font-face {
    font-family: alliance;
    src: url(assets/fonts/Alliance.otf);
}


.main-title{
    font-family: alliance;
    font-size: 3rem;
    font-weight: bold;
    color: wheat;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 5px 1px;
    padding: 12px 0;
}

.sub-title{
    font-family: alliance;
    font-size: 8rem;
    font-weight: bold;
    color: wheat;
    padding-bottom: 260px;
    margin: 0 auto;
    text-align: center;
}

.body-container{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.main-header{
    padding: 5px 0px 5px 15px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid grey;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container > p{
    font-family: Collegia;
    font-size: 1.5rem;
    color: white;
}

.bold-name{
    padding-right: 5px;
}


.logo-container > img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.main-container{
    width: 100vw;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search{
    position: absolute;
    margin-top: 100px;
    width: 300px;
    height: 40px;
    padding-left: 35px;
    border-radius: 5em;
    border: 1px solid white;
    background: url(assets/img/searchicon.svg) no-repeat 7px 11px;
      background-size: auto;
    background-size: 20px;
    color: white;
    font-weight: bold;
}

.change-button{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 15px;
}

.change-button:hover{
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-profile{
    margin-left: 20px;
    margin-top: 50px;
    width: 20%;
}

.img-container{
    margin: 0 auto;
    clip-path: circle(47% at 48% 48%);
    width: 200px;
    height: 200px;
}

.user-img{
    width: 200px;
    
}

.container-info{
    text-align: center;
}

.container-info > h1{
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: bold;
}

.container-info > p{
    font-family: 'Segoe UI';
}

.container-main{
    display: flex;
    padding-top: 50px;
}

.container-content{
    width: 80%;
}

.container-tabs{
    display: flex;
    margin-top: 50px;
    margin-left: 25px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 90%;
    height: 20px;
}

.repo{
    width: 125px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ativo{
    font-weight: bold;
    border-bottom: 5px solid #ec775c;
    padding-bottom: 10px;
}


.repo > span{
    background-color: grey;
    padding: 1px 6px;
    border-radius: 50%;
    font-size: 10px;
}

.container-input{
    margin: 30px 0 0 25px;
}

.input-filter{
    width: 300px;
    height: 20px;
    padding-left: 30px;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    background: url(assets/img/searchicon.svg) no-repeat 7px 1px;
    background-size: 20px;

}

.container-repolist{
    margin: 20px 0 0 25px;
    width: 90%;
}

.repository-wrapper{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d4d4d4;
}

.repository-wrapper > a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #44a0eb;
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 7px;
}

.repo-title{
    padding-bottom: 7px;
}

.repository-wrapper > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    color: #6b6b6b;
}

.stats-wrapper{
    display: flex;
}

.language-container{
    display: flex;
}

.language-container > p{
    padding-left: 7px;
    color: #6b6b6b;
}

.language-container > img{
    width: 15px;
}

.branch-container{
    display: flex;
    padding-left: 50px;
}

.branch-container > p{
    padding-left: 2px;
    color: #6b6b6b;
}

.branch-container > img{
    width: 10px;
}

@media (max-width: 900px){
    .container-main{
        flex-direction: column;
    }
    .container-profile{
        width: 100%;
        margin: auto;
    }

    .container-content{
        width: 100%;
    }
}

@media (max-width: 370px){
    .input-filter{
        width: 230px;
    }

    .logo-container > p{
        font-size: 20px;
    }

    .input-search{
        width: 220px;
    }
}